// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: white;
}
#cart-menu{
    position: absolute;
    background: white;
    right: 3rem;
    z-index: 1000;
    width: 25rem;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
}
.cart-item-menu{
    max-width: 100px;
    border: 1px solid;
    margin-right: 1rem;
}
.loading{
    font-size: 16rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}
